*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carimage-and-text{
    height: 400px;
    margin-bottom: 20px;
    background-image: url("../images/home-car-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-now{
    background-color: white;  
    width: 70%;
    padding: 20px 50px;
    border-radius: 10px;
}

.register-now h2{
    text-align: center;   
    margin-bottom: 20px;
}

.register-now select{
    height: 36px;
}

.register-part{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.register-boxes{
    display: flex;
    justify-content: space-between;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-aim-paragraphs,.home-aiming-text{
    width: 85%;
    margin-top: 15px;
}

.what-we-offer{
    margin-top: 60px;
    text-align: center;
}

.offer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.offer-card{
    width: 290px;
    transition: .2s ease-in-out;
    margin-right: 10px;
    box-shadow: 10px 10px 30px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.offer-card:hover{
    box-shadow: 10px 10px 20px black ;
    cursor: pointer;
}

.offer-card-title{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100px;
   background-color: #FF8400;
   background-image: url("../images/traffic-banner.jpg");
   color: white;
   border-radius: 10px 10px 0 0;
}

.offer-card-paragraph{
    padding: 15px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.offer-card-span{
    font-weight: bold;
}

.offer-card-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.offer-card-button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.why-choose-master{
    margin-bottom: 50px;
    text-align: center;
}

.why-choose-master-body{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.pricing-details-location{
    background-color: white;  
    width: 70%;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 130px;
    box-shadow: 10px 10px 10px black;
}

.pricing-details-location h2{
    text-align: center;   
    margin-bottom: 20px;
}

.pricing-details-location select{
    height: 36px;
}

.pricing-details-location-part{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.pricing-details-location-boxes{
    display: flex;
    justify-content: space-between;
}


.qualified,.affordable,.e-learning,.multiculturalism{
    display: flex;
    width: 300px;
    height: 100px;
    margin: 30px ;
}

.e-learning-text,.multiculturalism-text{
   margin-left: 20px;
}

.work-with-us{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 60px;
}

.work-with-us-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.user-numbers{
    width: 100%;
    background-color:#EEEEEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.user-numbers-card{
    width: 280px;
    padding: 40px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    margin: 20px;
}

.user-numbers-card p{
    margin-bottom: 10px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25D366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

@media only screen and (max-width: 893px) {
    .register-part{
        display: flex;
        flex-wrap: wrap;
    }
    .register-now{
        display: flex;
        flex-wrap: wrap;
        min-width: 500px;
    }
    .register-boxes{
        margin-bottom: 20px;
    }
}