*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pricings{
    display: flex;
    flex-direction: column;
}

.pricings-banner{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/pricings-page-img.jpeg");
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 50px;
}

.pricings-body{
    width: 85%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
}

.pricings-body p{
    text-align: justify;
}

.pricings-body p span{
    font-weight: bold;
}

.pricings-g2-packages-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}

.package-info{
    height: 330px;
}

.student-package,.standard-package,.premium-package{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
}

.pricings-page-img-and-text{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 80px;
}

.pricings-page-img-and-text-div{
    display: flex;
}

.pricings-page-img-and-text-div img{
    width: 20%;
    min-width: 200px;
    max-height: 250px;
}

.pricings-page-img-and-text-div div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0 40px;
}

.to-buy-an-online-beginner-driver-education-package{
    display: flex;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: #F3E8FF;
    padding: 0 20px 30px 20px ;
}

.to-buy-an-online-beginner-driver-education-package img{
    width: 30%;
    height: 350px;
    min-width: 300px;
    margin-top: 90px;
    border-radius: 10px;
}

.to-buy-an-online-beginner-driver-education-package-text-part{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 40px 0 40px;
}

.to-buy-an-online-beginner-driver-education-package-text-part ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    margin-top: 20px;
}

.to-buy-an-online-beginner-driver-education-package-text-part ul li{
    margin-bottom: 10px;
}

.in-car-lessons-cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.in-car-lessons-card{
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}

.in-car-lessons-card-text-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-car-lessons-card-text-part h2{
    height: 50px;
    margin-bottom: 20px;
}

.in-car-lessons-card-text-part p{
    margin-bottom: 20px;
}

.pricings-secure-payment-images-part{
    width: 85%;
    margin: auto;
    display: flex;
}

.pricings-secure-payment-images-part{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.pricings-secure-payment-images-part img{
    width: 70%;
    height: 100px;
}

.how-to-use-credits{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.how-to-use-credits p{
    margin-bottom: 20px;
}

.how-to-use-credits ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: justify;
    margin-left: 50px;
}

.how-to-use-credits ul li{
    margin-bottom: 5px;
}

.how-to-use-credits ul li a{ 
    text-decoration: none;
    color: blue;
}

.custom-pricing{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #F3E8FF;
    border-radius: 10px;
    padding: 30px;
}

.custom-pricing img{
    width: 25%;
    margin-right: 40px;
}

.custom-pricing-text-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.custom-pricing-text-part ul{
    margin-left: 40px;
}



@media only screen and (max-width: 710px) {
    .to-buy-an-online-beginner-driver-education-package{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .in-car-lessons-cards{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    .pricings-secure-payment-images-part{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 893px) {
    .custom-pricing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

